.app-header {
	position: relative;
	text-align: center;
	font: 500 30pt 'Roboto Slab';
	border-bottom: 1px solid #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.app-header-actions {
	position: absolute;
	right: 10px;
	top: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.app-header-actions * {
	margin: 0 2.5px;
}