.results {
	text-align: center;
}

.results .today-color {
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #111111;
	margin-left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
}

.guess-distrib-row {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
}

.guess-distrib-label {
	width: 20px;
	background-color: #111111;
	color: #eeeeee;
	text-align: center;
}

.guess-distrib-value-bar {
	background-color: #3ac51f;
	box-sizing: border-box;
}

.guess-distrib-value-bar.zero {
	padding-left: 3px;
	background: transparent;
}

.results-share {
	background-color: #3ac51f;
	border: none;
	color: #fff;
	font: 16pt 'Roboto Slab';
	border-radius: 3px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}