.color-display {
	width: 500px;
	height: 500px;
}

.rgbdle-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.rgbdle-input-cell {
	margin: 0 5px;
}


.rgbdle-input-cell input {
	appearance: text;
	border: 2px solid #111111;
	border-radius: 3px;
	width: 50px;
	height: 50px;
	text-align: center;
	transition: border-color 0.2s;
}

.rgbdle-input-cell input.error {
	border-color: #ff1111;
}

.rgbdle-row-cell {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: bold 14pt sans-serif;
	color: #111111;
	margin: 0 5px;
}

.rgbdle-row-cell-label {
	font: 10pt sans-serif;
}

.rgbdle-row-arrow {
	margin: 0 20px;
}

.rgbdle-row-arrow.hidden {
	opacity: 0;
}

.rgbdle-submit {
	background-color: #222222;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	color: #eeeeee;
	font: 12pt 'Roboto Slab';
	cursor: pointer;
	display: flex;
	margin: 0 5px;
	justify-content: center;
	align-items: center;
	border: none;
}